@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dot-grid-alpha: 1;
}

@property --tw-animate-backdrop-hue-rotate {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@layer components {
  .bg-dot-grid {
    background-image: radial-gradient(
      circle at 50% 50%,
      #0000 0,
      #0000 2px,
      rgba(0, 0, 0, var(--bg-dot-grid-alpha)) 2px
    );
    background-size: 8px 8px;
  }

  .bf-bg-dot {
    @apply before:bg-dot-grid relative isolate before:absolute before:inset-0 before:-z-10;
  }

  .bf-bg {
    @apply relative isolate before:absolute before:inset-0 before:-z-10;
  }
}

/* Remove scrollbar on all browsers */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
