@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dot-grid-alpha: 1;
}

@property --tw-animate-backdrop-hue-rotate {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

/* Remove scrollbar on all browsers */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
