@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-dot-grid {
    background-image: radial-gradient(
      circle at 50% 50%,
      #0000 0,
      #0000 2px,
      theme('colors.slate.900') 2px
    );
    background-size: 8px 8px;
  }

  .bf-bg-dot {
    @apply before:bg-dot-grid relative isolate before:absolute before:inset-0 before:-z-10;
  }

  .bf-bg {
    @apply relative isolate before:absolute before:inset-0 before:-z-10;
  }
}

.bg-dots {
  width: 100%;
  height: 100%;
  --s: 50px;
  --d: 5%;
  --bg: #0000;
  --fg: rgb(90, 92, 102);
  background-image: radial-gradient(
      circle at 75% 25%,
      var(--fg) var(--d),
      transparent var(--d)
    ),
    radial-gradient(circle at 25% 75%, var(--fg) var(--d), transparent var(--d));
  background-size: calc(var(--s) * 1.5) calc(var(--s) * 0.866025404);
  background-position: 7px 12px;
  /* background-position: calc(var(--s) * -0.25) calc(var(--s) * -0.25); */
}

.fancy-text-animation {
  @apply relative;
  line-height: 1.3;
}

.fancy-text-animation > span {
  @apply bg-clip-text font-mono text-transparent;
  background-image: linear-gradient(90deg, #f12711, #f5af19, #f5af19, #f12711);
  background-size: 700% 100%;
  --bg-offset: calc(var(--i) * -100%);
  animation:
    bg-text-gradient 28s linear infinite,
    text-move 2s calc(-2s * var(--i) / 7) ease-in-out infinite;
  display: inline-block;
}

@keyframes bg-text-gradient {
  0% {
    background-position: calc(var(--bg-offset) - 700%) 0;
  }

  100% {
    background-position: calc(var(--bg-offset) + 700%) 0;
  }
}

@keyframes text-move {
  0%,
  to {
    transform: translateY(-0.4rem);
  }
  50% {
    transform: translateY(0.4rem);
  }
}

.blobs-bg {
  filter: blur(8em) url("#unopaq") blur(2em);
}
