---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/main.css';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="mx-auto max-w-6xl">
      <section class="p-8">
        <h1 class="mx-auto w-fit text-center">
          Welcome to Shoghi Simon's Silly Shenanigans
        </h1>
        <div class="mx-auto w-fit">
          Here you'll find a collection of fancy effects and animations I've
          created over the years. Enjoy!
        </div>
        <a
          href="/collection"
          class="block mx-auto w-fit mt-4 text-center hover:text-white text-white from-blue-800 to-blue-400 rounded-xl bg-gradient-to-br text-3xl p-4"
        >
          View Collection
        </a>
      </section>
    </main>
    <Footer />
  </body>
</html>
